@import "utils";

// .list-wrapper {
//   // display: flex;

.title {
  background: $oc-gray-7;
  border: none;
  outline: none;
  font-size: 1.5rem;
  padding: 1rem;
  color: white;
  font-weight: 500;
  // &::placeholder {
  //   color: rgba(255, 255, 255, 0.75);
  // }
}

//   @include media("<medium") {
//   }
// }
